
<input type="text" [formControl]="filter" placeholder="Filter member">
<!-- TODO: https://github.com/rintoj/ngx-virtual-scroller/issues/51 -->
<table class="table table-striped table-bordered table-dark">

  <thead class="thead-dark">
    <tr>
      <th *ngFor="let item of member">{{item}}</th>
    </tr>
  </thead>
    <tbody>
    <tr *ngFor="let memberobj of filteredMemberTable$ | async">
      <td *ngFor="let item of memberobj | keyvalue : originalOrder">
        {{item.value}}
      </td>
    </tr>
    </tbody>


</table>
