<div class="video_container position-fixed w-100 vh-100">
  <video playsinline="playsinline" autoplay="autoplay" [muted]="true" loop="loop">
    <source src="assets/BACKGROUND_01_BLACK.webm">
  </video>
</div>

<div class="container">
  <div class="topspace"></div>
  <div class="row mh-75">

    <div class="col-10 col-md-6 mx-auto my-auto pt-1 teamspeakcontainer" >
      <div class="mh-75" style="object-fit: cover; overflow: hidden">
        <div class="ts3index-viewer" data-serverid="249587" data-style="color=404040&serverc=FFFFFF&serverb&spacerc=FFFFFF&channelc=FFFFFF&channelb&clientc=FFFFFF&hidecountr&bgcolor&icons=ts5&colorpack=default">
          <a href="https://ts3index.com/?page=server&id=249587">TS3index.com</a>
        </div>
      </div>


    </div>
    <div class="mt-3 mx-auto d-flex align-items-center">
      <a class="btn btn-light btn-lg mx-auto" href="ts3server://xperience">Dem Teamspeak Server beitreten</a>
    </div>
  </div>
</div>



