
<div class="row">
  <div class="col-12">

  </div>

  <div class="col-10 col-md-6 mx-auto my-auto pt-1" >
    <div class="ts3index-viewer" data-serverid="249587" data-style="color=404040&serverc=FFFFFF&serverb&spacerc=FFFFFF&channelc=FFFFFF&channelb&clientc=FFFFFF&hidecountr&height=500px&bgcolor&icons=ts5&colorpack=default">
      <a href="https://ts3index.com/?page=server&id=249587">TS3index.com</a>
    </div>
  </div>
  <div class=" mx-auto my-auto">
    <a class="btn btn-outline-light btn-lg mx-auto" href="ts3server://xperience">Dem Teamspeak Server beitreten</a>
  </div>
</div>


