<div class="container">
  <div class="topspace"></div>
  <div class="row">

    <div class="col-10 col-lg-8 mx-auto my-auto pt-1 teamspeakcontainer" >
      <div class="mh-50" style="object-fit: cover; overflow: hidden">
        <div class="ts3index-viewer" data-serverid="249587" data-style="color=404040&serverc=FFFFFF&serverb&spacerc=FFFFFF&channelc=FFFFFF&channelb&clientc=FFFFFF&hidecountr&bgcolor&icons=ts5&colorpack=default&hidegroups&hidebadges&hidecountry">
          <a href="https://ts3index.com/?page=server&id=249587">TS3index.com</a>
        </div>
      </div>


    </div>
    <div class="col-10 col-lg-3 mt-4 mb-4 mx-auto d-flex align-items-center">
      <a class="btn btn-light btn-lg mx-auto" href="ts3server://xperience">Dem Teamspeak Server beitreten</a>
    </div>
  </div>
</div>



