.backgroundimg{
  background-image: url('/assets/rainbow_team_bg.jpg');
}

.modal{
  display: block;
  position: relative;
  z-index: 1;
}

*{
  font-family: Roboto, "Helvetica Neue", sans-serif!important;
}
