<!-- <div class="alert alert-danger" [hidden]="!error">
  There was a problem logging in. Please try again.
</div>
 -->

{{UserForm.value | json}}
<div class="heading"><h3>Log in</h3></div>


<div class="form"><form [formGroup]="UserForm">
  <label>
    <div class="label">Username:</div>
    <div class="input"><input type="text" formControlName="username"></div>
  </label>

  <p></p>

  <label>
    <div class="label">Passwort:</div>
    <div class="input"><input type="text" formControlName="password"></div>
  </label>


</form>
  <p></p>
  <!-- <form [formGroup]="UserForm" (click)="logIn()"></form> -->
</div>

  <button type="submit" formmethod="post" (click)="logIn()">Log in</button>

