<!-- <div class="alert alert-danger" [hidden]="!error">
  There was a problem logging in. Please try again.
</div>
 -->
<div class="backgroundimg">
  <div class="container-fluid topspace"></div>
  <div class="my-auto container-fluid">
    <div class="modal z-in">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Login</h4>
          </div>
          <div class="modal-body">
            <form [formGroup]="UserForm" >
              <div class="input-group mb-3">
                <input class="form-control" placeholder="Username" type="text" autofocus formControlName="username" (keydown.enter)="onEnterPressed()">
              </div>
              <div class="input-group">
                <input class="form-control" placeholder="Password" type="password" formControlName="password" (keydown.enter)="onEnterPressed()">
              </div>
              <div [hidden]="successfulLogin" class="alert-danger mt-3">
              Username or password wrong!
              </div>
            </form>
          </div>

          <div class="modal-footer">
            <button class="btn btn-primary" type="submit" formmethod="post" (click)="onSubmitClicked()" >Log in</button>
<!--            <button class="btn btn-primary" type="submit" formmethod="post" (keyup.enter)="logIn()" >Log in</button>-->
<!--            <input type="button" (keyup.enter)="onEnter($event)">-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
