.card {
  display:inline-block;
  width: 18rem
}
.card img{
  max-height: 300px;
  object-fit: cover;
}
.fa-twitter,.fa-youtube{
  color: #212529;
}
.fa-twitter:hover,.fa-youtube:hover{
  color: darkgrey;
}
body {
  background-image: url('https://images.hdqwalls.com/download/ela-r6-tom-clancys-rainbow-six-siege-4r-1920x1080.jpg');
}
.card-img-overlay:hover{
  backdrop-filter: brightness(0.5) blur(4px);
}
.card-img-overlay:hover >  div{
  display: block;

}
.card-img-overlay div{
  display: none;
}
