.card {
  display:inline-block;
  width: 18rem;
  border: 0;
}
.card img{
  max-height: 300px;
  object-fit: cover;

}
.fa-twitter,.fa-youtube{
  color: aqua;
}
.fa-twitter:hover,.fa-youtube:hover{
  color: white;
}
.card-img-overlay:hover{
  backdrop-filter: brightness(0.5) blur(4px);
}
.card-img-overlay:hover >  div{
  display: block;

}
.card-img-overlay div{
  display: none;
}
.valorant_bg{
  background-image: url('https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/bltb46f22a7f4f994bd/5e8d001c6477c30c9dd7b5af/VAL_Overlay_Banner_v2.jpg');
}
.rainbow_bg{
  background-image: url('https://i.imgur.com/tQ6Tu5P.jpg');
}
.card-img-top{
  background-color: black;
}
.card-body >h2{
  color: aqua;
  font-weight: 300;
}
.teamselection{
  background-color: rgba(0,0,0,0.7);
}
@media (min-width: 1200px){
  .container{
    max-width: 990px;
  }

}
@media (min-width: 1400px){
  .container{
    max-width: 1310px;
  }

}
