<div class="backgroundimg">
  <div class="container-fluid topspace"></div>

  <div *ngIf="game.value != 'teammanagement'" class="container m-auto mt-5 ">
    <div *ngIf="currentTeam"
         class="container-fluid mt-4 teamselection d-flex flex-column justify-content-end text-light">
      <div class="row">
        <div class="col justify-content-end d-flex">
          <div ngbDropdown class="d-inline-block btn text-light w-100 pb-0">
              <a class="h1 mb-2" ngbDropdownToggle id="dropdownTeams">{{currentTeam.teamName | uppercase}}</a>

             <div ngbDropdownMenu aria-labelledby="dropdownTeams">

              <ng-container *ngFor="let team of filteredTeams$ | async">
                  <a ngbDropdownItem class="btn text-center teamselector" (click)="currentTeam = team">
                    <h5 class="text-light m-0">{{team.teamName}}</h5>
                  </a>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>

      <div *ngIf="currentTeam" class="d-flex justify-content-center flex-wrap m-5">
        <table class="table table-dark table-striped">
          <tr>
            <th>Name</th>
            <th>Rolle</th>
            <th>Social Media</th>
          </tr>

          <ng-container *ngFor="let member of currentTeam.members;index as i">
            <tr>
              <td>{{member.name}}</td>
              <td>{{member.generalInfo}}</td>
              <td class=""><a href="{{member.twitter}}" target="_blank"><i style="color: white"
                                                                           class="fab fa-twitter fa-2x mx-2"></i></a><a
                href="{{member.youtube}}" target="_blank"><i style="color: white"
                                                             class="fab fa-youtube fa-2x  mx-2"></i></a></td>
            </tr>
          </ng-container>
        </table>
        <div class="text-center container-fluid">
          <h1 class="text-primary">LATEST MATCHES</h1>

          <ng-container *ngFor="let match of matches$ | async" >
            <div  *ngIf="match.hometeam.teamId == currentTeam.teamId">
              <div class=" match_container text-light row py-3 my-5">
                <div class="col-6  align-items-center">
                  <div class="row align-items-center">
                    <div class="col-4">
                      <img class="matchtile_logo" src="https://i.imgur.com/D5mrccA.png">
                      <h6 class="pt-4" >{{match.hometeam.teamName}}</h6>
                    </div>
                    <div class="col-4">
                      <h3>{{match.scoreHome}} - {{match.scoreOpponent}}</h3>
                    </div>
                    <div class="col-4">
                      <img *ngIf="match.opponentLogo == null" class="matchtile_logo" src="/assets/r6logo.png">
                      <img *ngIf="match.opponentLogo !=  null" class="matchtile_logo" src="{{match.opponentLogo}}">
                      <h6 class="pt-4" >{{match.opponent}}</h6>
                    </div>

                  </div>
                </div>



                <div class="col-6 align-self-center">
                  <h4>{{match.title}}</h4>
                  <h4>{{match.date | date :'dd.MM.yy HH:mm'}}</h4>
                </div>
              </div>
            </div>


          </ng-container>
        </div>
      </div>


    </div>

    <div *ngIf="game.value == 'teammanagement'" class="m-auto text-center ">
      <div class="container">
        <h1 class="text-light">Teamverwaltung</h1>
        <div class="container-fluid mt-2">
          <div class=" pl-2 py-2">
            <div class="col-4 ml-auto">
              <button class="btn btn-outline-light" (click)="createTeam()">Create New Team</button>
            </div>

          </div>
          <table class="table table-dark">
            <tr>
              <th>ID:</th>
              <th>Name</th>
              <th>Game</th>
              <th>Generelle Info</th>
              <th>Member:</th>
            </tr>
            <tr *ngFor="let team of teams$ | async">
              <td>{{team.teamId}}</td>
              <td>
                <button type="button" class="btn btn-outline-light" (click)="editTeam(team)">
                  {{team.teamName}}
                </button>
              </td>
              <td>{{team.game}}</td>
              <td>{{team.generalInfo}}</td>
              <td><h5><span *ngFor="let member of team.members"
                            class="badge badge-light text mx-1">{{member.name}}</span>
              </h5></td>
            </tr>
          </table>
          <div class="">
            <div class="table-responsive">
              <table class="table table-borderless text-light">
                <cdk-virtual-scroll-viewport itemSize='5' class="viewport" minBufferPx="1200" maxBufferPx="1500">
                  <thead class="thead">
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Game</th>
                    <th>Generelle Info</th>
                  </tr>
                  </thead>

                  <tbody>
                  <tr *cdkVirtualFor="let team of teams$ |  async" class="tablerow">
                    <td>{{team.teamId}}</td>
                    <td>
                      <button type="button" class="btn btn-outline-light bt n-block" (click)="editTeam(team)">
                        {{team.teamName}}
                      </button>
                    </td>
                    <td>{{team.game}}</td>
                    <td>{{team.generalInfo}}</td>

                  </tr>


                  </tbody>
                </cdk-virtual-scroll-viewport>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="game.value == 'matchmanagement'" class="container m-auto mt-5">
      <div class="container">
        <h1 class="text-light">Matchverwaltung</h1>
        <div class="container-fluid mt-2">
          <div class=" pl-2 py-2">
            <div class="col-4 ml-auto">
              <button class="btn btn-outline-light" (click)="createMatch()">Create Match</button>
            </div>

          </div>
          <table class="table table-dark">
            <tr>
              <th>ID:</th>
              <th>Name</th>
              <th>Team:</th>
              <th>Gegner:</th>
              <th>Game</th>
              <th>Datum:</th>
              <th>Löschen:</th>
            </tr>
            <tr *ngFor="let match of matches$ | async">
              <td>{{match.id}}</td>
              <td>{{match.title}}</td>
              <td>{{match.hometeam.teamName}} </td>
              <td>{{match.opponent}}</td>
              <td>{{match.hometeam.game}}</td>
              <td>{{match.date | date :'dd.MM.yy HH:mm'}}</td>
              <td><div class="btn" (click)="deleteMatch(match)">
                <i class="text-light fa fa-trash"></i>
              </div></td>
            </tr>
          </table>
        </div>
      </div>
    </div>

  </div>
