<ng-template #content let-modal>
  <div class="modal-body">
    <p><strong>Are you sure you want to delete <span class="text-danger">{{user.username}}</span></strong></p>
  </div>
  <div class="modal-footer">
    <div class="mr-auto">
      <button type="button" class="btn btn-outline-secondary float-left" (click)="modal.dismiss('cancel click')">Cancel</button>
    </div>
    <div class="">
      <button type="button" class="btn btn-danger" (click)="deleteUser(modal)">Delete</button>
    </div>
  </div>
</ng-template>

<div *ngIf="user || create == true">
  <div class="modal-header">
    <h4 class="modal-title" *ngIf="user.username">Edit Member: {{user.username}}</h4>
    <h4 class="modal-title" *ngIf="create == true">Create New Member</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <label class="form">
        <form [formGroup]="EditForm" class="form-group">



          <div class="form-row">

            <div class="col-lg-4">
              <label for>Name:</label>
              <input class="form-control" type="text" formControlName="username">
            </div>
            <div class="col-lg-4"><label>Role:</label>
              <input class="form-control" type="text" formControlName="role">
            </div>
          </div>

        </form>
      </label>

      <form [formGroup]="EditForm"></form>
    </div>
  </div>
  <div class="modal-footer">
    <div class="ml-0">
      <button type="button" class="btn btn-danger" (click)="openConfirm(content)">Delete Member</button>
    </div>
    <div class="m-auto">
      <button type="button" class="btn btn-info" (click)="activeModal.close('Close click')">Close</button>
    </div>
    <button *ngIf="create; else elseBlock" type="button" class="btn btn-success" (click)="createUser()">Create Member</button>
    <ng-template #elseBlock >
      <button type="button" class="btn btn-success" (click)="updateUser()">Save Member</button>
    </ng-template>
  </div>
</div>
