<div class="backgroundimg">
  <div class="container-fluid topspace"></div>

  <div class="container-fluid">
    <div class="col-3 mr-3 ml-auto">
      <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="showNews" >
        <label ngbButtonLabel class="btn-primary">
          <input ngbButton type="radio" [value]="true"> News
        </label>
        <label ngbButtonLabel class="btn-primary">
          <input ngbButton type="radio" [value]="false"> Static
        </label>
      </div>
    </div>
  </div>

  <div class="container mt-auto  mx-auto">
    <div class="pb-sm-4  my-center">
    </div>
    <label *ngFor="let contentItem of contentList">
      <button *ngIf="contentItem.news && showNews" type="button" class="btn btn-dark ml-2 mb-2" (click)="getContentByID(contentItem.id)">
        <div><span class="label font">News | ID:{{contentItem.id}}</span></div>
        <h3>{{contentItem.title}}</h3>
      </button>

      <button *ngIf="!contentItem.news && !showNews" type="button" class="btn btn-dark ml-2 mb-2" (click)="getContentByID(contentItem.id)">
        <div *ngIf="!contentItem.news && !showNews"><span class="label font ">Static | ID:{{contentItem.id}}</span></div>
        <h3>{{contentItem.title}}</h3>
      </button>
      <br>
    </label>


    <form class="form" [formGroup]="EditContent" >

      <h2 class="label font mb-3 text-dark">Titel: <input formControlName="title" type="text" class="ml-2"></h2>


      <div class="bg-light">
        <ngx-wig  formControlName="text"></ngx-wig>

        <button type="button" class="btn btn-dark m-1" (click)="updateContent()">Update</button>
        <button *ngIf="showNews"  type="button m-1" class="btn btn-dark" (click)="deleteContent()">Delete</button>
        <ng-template #content let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Erstelle neuen Inhalt</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="news" >
                  <label ngbButtonLabel class="btn-primary">
                    <input ngbButton type="radio" [value]="true"> News
                  </label>
                  <label ngbButtonLabel class="btn-primary">
                    <input ngbButton type="radio" [value]="false"> Static
                  </label>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="createContent()">Create</button>
          </div>
        </ng-template>
        <button class="btn btn btn-dark m-1" (click)="open(content)">Create</button>
      </div>
    </form>
    <div class="bg-dark text-light">
      {{this.EditContent.value.text}}
    </div>
  </div>

</div>
