
#backgroundimg{
  background-image: url('https://wallpaperaccess.com/full/889455.jpg');
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-attachment: local;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
quill-editor{
  background-color: black;
}
