.backgroundimg{
  background-image: url('https://static-dm.akamaized.net/siege/prod/r6s-burnthorizon-bg-y4pass.jpg');
}
.btn.active{
  background-color: chocolate!important;
}

.label{
  color: white;

}
