
<nav class="navbar navbar-expand-md navbar-dark nav_bg mb-3 fixed-top p-0" >
  <a  class="navbar-brand mr-0 py-3 pl-3 img-hover" routerLink="home" >
    <img src="/assets/xp_logo_transparent.png" height="40">
  </a>
  <button class="navbar-toggler mx-3" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    <i class="fas fa-bars"></i>
  </button>

  <div ngbNav [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li ngbNavItem  [ngClass]="currentRoute == '/home' ? 'active-page' : 'not-active'" >
        <a ngbNavLink routerLink="home" (click)="isMenuCollapsed = true">
          <div class="nav-link-text">Home</div>
        </a>
      </li>
      <li ngbNavItem [ngClass]="currentRoute.includes('/esport/') ? 'active-page' : 'not-active'" (click)="$event.stopPropagation();myDrop.toggle()">
        <a ngbNavLink>
          <div class="nav-link-text">Teams<i class="pl-2 fas fa-caret-down "></i></div>
        </a>
      </li>

      <li ngbNavItem [ngClass]="currentRoute == '/logo' ? 'active-page' : 'not-active'">
        <a ngbNavLink  routerLink="logo" (click)="isMenuCollapsed = true">
          <div class="nav-link-text">Logo</div>
        </a>
      </li>
      <li ngbNavItem [ngClass]="currentRoute == '/teamspeak' ? 'active-page' : 'not-active'">
        <a ngbNavLink routerLink="teamspeak" (click)="isMenuCollapsed = true">
          <div class="nav-link-text" >Teamspeak</div>
        </a>
      </li>
      <li ngbNavItem [ngClass]="currentRoute == '/news' ? 'active-page' : 'not-active'" *ngIf="this.currentRoles  && (this.currentRoles.roleAdmin || this.currentRoles.roleModerator || this.currentRoles.roleSupport)">
        <a ngbNavLink routerLink="news" (click)="isMenuCollapsed = true">
          <div class="nav-link-text">News</div>
        </a>
      </li>
      <li ngbNavItem [ngClass]="currentRoute == '/streamer' ? 'active-page' : 'not-active'">
        <a ngbNavLink routerLink="streamer" (click)="isMenuCollapsed = true">
          <div class="nav-link-text" >Streamer</div>
        </a>
      </li>
      <li *ngIf="this.currentRoles  && (this.currentRoles.roleAdmin || this.currentRoles.roleModerator || this.currentRoles.roleSupport)" ngbNavItem [ngClass]="currentRoute == '/memberTable' ? 'active-page' : 'not-active'">
        <a ngbNavLink routerLink="memberTable" (click)="isMenuCollapsed = true">
          <div >Membertable</div>
        </a>
      </li>
      <li *ngIf="this.currentRoles && this.currentRoles.roleAdmin" ngbNavItem [ngClass]="currentRoute == '/userTable' ? 'active-page' : 'not-active'">
        <a ngbNavLink routerLink="userTable" (click)="isMenuCollapsed = true">
          <div>Usertable</div>
        </a>
      </li>
      <li *ngIf="this.currentRoles && (this.currentRoles.roleAdmin || this.currentRoles.roleEditor)" ngbNavItem [ngClass]="currentRoute == '/edit' ? 'active-page' : 'not-active'">
        <a ngbNavLink routerLink="edit" (click)="isMenuCollapsed = true">
          <div >Editor</div>
        </a>
      </li>
      <li *ngIf="this.currentRoles" ngbNavItem class="my-auto">
        <a class="px-0" ngbNavLink routerLink="home" (click)="logout()"(click)="isMenuCollapsed = true">
          Logout
        </a>
      </li>
      <ngb-toast class="position-absolute text-dark" style="top: 7rem; right: 2rem; background-color: white" *ngIf="showTsToast" [autohide]="false"  (hide)="showTsToast = false" header="Connecting to Teamspeak">
        You will connect to the Xperience Teamspeak in 3 seconds
        <br>
        <h2 class="text-center"><span class="badge badge-dark text-light text-center">IP: xperience</span></h2>
      </ngb-toast>
      <li class="my-auto d-flex justify-content-center">
        <a class="px-0" (click)="connectToTeamspeack()" (click)="isMenuCollapsed = true">
          <div class="btn">
            <i class="fab fa-2x fa-teamspeak"></i>
          </div>
        </a>
      </li>

      <li class="my-auto d-flex justify-content-center">
        <a class="px-0" href="https://twitter.com/Xperience_Orga" target="_blank" (click)="isMenuCollapsed = true">
          <div class="btn">
            <i class="fab fa-2x fa-twitter"></i>
          </div>
        </a>
      </li>
    </ul>
  </div>
  <div ngbDropdown #myDrop="ngbDropdown">
    <span id="dropdownManual" ngbDropdownAnchor></span>
    <div class="teamselection-container" ngbDropdownMenu aria-labelledby="dropdownManual">
      <button (click)="isMenuCollapsed = true" ngbDropdownItem class="btn btn-teamselection text-light text-center flex-grow-1 border-right" routerLink="esport/rainbowsix">
        <img height="80px" src="/assets/rainbow_logo.png">
      </button>
      <button (click)="isMenuCollapsed = true" ngbDropdownItem class="btn btn-teamselection text-light text-center flex-grow-1" routerLink="esport/valorant">
        <img class="jus" height="80px" src="/assets/valorant_logo_white.png">
      </button>
      <button (click)="isMenuCollapsed = true"  class="btn btn-light m-3" *ngIf="this.currentRoles && this.currentRoles.roleAdmin" routerLink="esport/teammanagement">Teammanagement</button>
      <button (click)="isMenuCollapsed = true"  class="btn btn-light m-3" *ngIf="this.currentRoles && (this.currentRoles.roleAdmin || this.currentRoles.roleEditor)"  routerLink="esport/matchmanagement">Matchmanagement</button>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>


<footer class="nav_bg">
  <div class="container-fluid">
    <div class="align-items-center row d-flex justify-content-around">
      <div class="p-1">
        <h5 class="text-center text-light align-middle my-auto">© {{date|dateFormat}} Xperience Gaming</h5>
      </div>
      <div class="p-1">
        <span class=" align-middle">
          <h5 class="text-center text-light my-auto">
          <a class="text-light" routerLink="imprint">Impressum</a><ng-container *ngIf="!this.currentRoles"> &nbsp; | &nbsp; <a class="text-light"  routerLink="login">Login</a></ng-container>
          </h5>
        </span>
      </div>
      <div class="p-1 icon-center">
          <a href="ts3server://xperience">
            <div class="btn">
              <i class="fab fa-2x fa-teamspeak"></i>
            </div>
          </a>
          <a href="https://twitter.com/Xperience_Orga" target="_blank">
            <div class="btn">
              <i class="fab fa-2x fa-twitter"></i>
            </div>
          </a>

      </div>
    </div>
  </div>
</footer>



