.nav a{
  font-size: 1.2em;
  padding: 1em;
  padding-bottom: 0.7em;
  padding-top: 0.7em;
}
.dropdown-toggle::after {
  display:none;
}
.dropdown-toggle{
 cursor: pointer;
}
.navbar-dark .navbar-nav .nav-link{
  color: white;
  font-weight: lighter;
}
.nav-link >div{
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.navbar-collapse{
  z-index: 2000;
  height: 100vh!important;
  background-color: rgba(52, 58, 64, 0.95);
}

a:hover{
  text-decoration: none;
}

.fa-twitter,.fa-teamspeak{
  color:white;
}
.btn:hover > i{
  color: aqua !important;
}
h5{
  line-height: inherit;
  margin: 0;

}
.nav_bg{
  background-color: rgba(0, 0, 0, 0.6)
}
.socials a{
  display:block;
  text-align:center;
}
svg {
  display: inline-block;
  vertical-align: middle;
}
.icon-center {
  display:block;
  text-align:center
  }

.active-page {
  border-bottom-style: solid;

  color: aqua !important;
}

.not-active {
  color: white;
  font-weight: lighter;
}

.img-hover {
  list-style: unset;
}
.dropdown-menu{
  padding-top: 0.5em!important;
  padding-bottom: 0.5em!important;
}
