.nav a{
  font-size: 1.2em;
  padding: 0.5em;
  padding-bottom: 0.7em;
  padding-top: 0.7em;
}
.dropdown-toggle::after {
  display:none;
}
.dropdown-toggle{
 cursor: pointer;
}
.dropdown{
  position: absolute;
}
.dropdown.show{
  position: initial!important;
}

.navbar-dark .navbar-nav .nav-link{
  color: white;
  font-weight: lighter;
}
.navbar{
  border-top: #0ff!important;
  border-top-width: 10px!important;
  border-top-style: solid!important;
  z-index: 2000;
}
.nav-link{
  padding-bottom: 0!important;
  padding-top: 0!important;
  text-align: center;
}
.nav-link >div{
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}
a:hover{
  text-decoration: none;
}

.fa-twitter,.fa-teamspeak{
  color:white;
}
.btn:hover > i{
  color: aqua !important;
}
.nav-link:hover> .nav-link-text {
  color: aqua !important;
}
h5{
  line-height: inherit;
  margin: 0;

}
.nav_bg{
  background-color: rgba(0, 0, 0, 0.8)
}
.socials a{
  display:block;
  text-align:center;
}
svg {
  display: inline-block;
  vertical-align: middle;
}
.icon-center {
  display:block;
  text-align:center
  }

.active-page {
  border-bottom-style: solid;
  color: aqua !important;
}
.active-page > a{
  color: aqua !important;
}
.not-active {
  border-bottom-style: hidden;
  color: white;
  font-weight: lighter;
}

.img-hover {
  list-style: unset;
}
.dropdown-menu{
  padding-top: 0.5em!important;
  padding-bottom: 0.5em!important;
  width: 100vw;
  margin: 0;
  border-radius: 0;
  max-width: 100%;
}
.border-bottom{
  border-color: aqua!important;
}
.dropdown-menu.show{
  display: flex;
  justify-content: space-around;
}
.btn-teamselection{
  border-radius: 0;
}
.teamselection-container{
  background-color: black;
  color: white;
  border: 0;
}
.navbar-collapse{
  justify-content: flex-end;
}
.navbar-nav{
  flex-wrap: wrap;
}
.navbar-toggler{
  font-size: 2rem;
  padding-top: .4rem;
}
@media (max-width: 767px) {
  .navbar-collapse {
    justify-content: center;
  }

  .teamselection-container{
    flex-direction: column;
    position: relative;
    top:1.3rem;
  }
  .teamselection-container > button{
    border-top: 1px solid cyan;
    border-bottom: 1px solid cyan;
    border-right: none!important;
  }

  .navbar-nav{
    width: 100%;
  }
  .dropdown.show{
    position: absolute!important;
  }

  .nav-link >div{
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  }
  .dropdown-menu{
    padding-top: 0rem!important;
    padding-bottom: 0rem!important;
  }
}
