.viewport {
  height: 500px;
  width: 100%;

}
.tablerow{
  height: 30px;
}
::-webkit-scrollbar-track
{
  background: transparent url("/src/assets/transparent.png") repeat-y;

}
::-webkit-scrollbar
{
  width: 10px;
  height: 0px;
  background: transparent url("/src/assets/transparent.png") repeat-y;
}

::-webkit-scrollbar-thumb
{
  background-color: #F5F5F5;
}
.backgroundimg{
  background-image: url('/assets/rainbow_alibi.jpg');
}
