.home_pic{
  min-height: 50vh!important;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(/assets/home_bg.jpg);
  filter: grayscale(100%);
  height: 100%;
  border-bottom: #0ff!important;
  border-bottom-width: 1px!important;
  border-bottom-style: solid!important;

  /* Center and scale the image nicely */
  background-attachment: local;
  background-repeat: no-repeat;
}
.overlay {
  margin-right:auto;
  margin-top: 4%;
  margin-left: 4%;
}
.card{
  min-height: 350px;
  background-color: rgba(0,0,0,0.5);
}
.welcome_container{
  min-height: 50vh!important;
  height: 100%;
  border-bottom: #0ff!important;
  border-bottom-width: 1px!important;
  border-bottom-style: solid!important;
}
.welcome_text {
  font-weight: 500!important;
  font-size: 1.2em!important;
}
.news{
  min-height: 50vh!important;
}
.news_title{
  color: white;
}
.news_preview{
  font-size: 1.3em;
  font-weight: 400!important;
  text-align: justify;
  border-radius: 4px;
  background-color: #13151b ;
  border-bottom: #0ff!important;
  border-bottom-width: 4px!important;
  border-bottom-style: solid!important;
}
.matchtile{
  background-color: #13151b ;
  border-top: #0ff!important;
  border-top-width: 4px!important;
  border-top-style: solid!important;
  border-radius: 4px;
}
.games_container img{
  max-width: 100%;
}
.games_container{
  flex: 1;
  border-bottom: #0ff!important;
  border-bottom-width: 1px!important;
  border-bottom-style: solid!important;
}

.news_object{
  border-top: #0ff!important;
  border-top-width: 1px!important;
  border-top-style: solid!important;
}
.matchtile_logo{
  max-height: 60px;
  object-fit: contain;
  height: 60px;
  margin-bottom: 1rem;
  max-width: 100%;
}

.partner_img{
  max-width: 100%;
  height: auto;
  max-height: 80px;
}
