<div class='container-fluid p-0'>
  <div class="container-fluid home_pic p-0 parallax-image">
    <div class="overlay">
      <div class="h1 align-bottom">Willkommen bei</div>
      <div class="h1 align-bottom">Xperience Gaming</div>
    </div>
  </div>

  <div class="container-fluid p-0" style="background-attachment:fixed;background-color: #3cf9f5;
    background-blend-mode: hard-light;  background-image: url(/assets/background_solo.png);background-repeat: no-repeat; background-size: cover;background-position: center top;">
    <ng-container  *ngFor="let contentobj of contentList$ | async" >
      <div *ngIf="contentobj.id == 1" class="mx-auto p-4 text-light">
        <h2 class="d-flex justify-content-center"><strong  [innerHTML]="staticTitle1"></strong></h2>
        <p  class="d-flex flex-column align-items-center" [innerHTML]="staticText1"></p>
      </div>
    </ng-container>

  </div>

  <div class="news m-3">
    <div class="container-fluid d-flex justify-content-center">
      <h5>Latest News</h5>
    </div>
    <hr>
    <ng-container  *ngFor="let contentobj of newsList$ | async ; let i=index">
      <div class="container-fluid">
        <div *ngIf="contentobj.news && i<4" class="p-2 d-flex justify-content-between">
          <a class="p-0 text-dark" routerLink="news">
            <h3>{{contentobj.title}}</h3>
          </a>
          <div [innerHTML]="contentobj.text| first20words"></div>

        </div>

      </div>
    </ng-container>
  </div>
</div>
