.home_pic{
  min-height: 75vh!important;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.overlay {
  margin-right:auto;
  margin-top: 4%;
  margin-left: 4%;
}
.card{
  min-height: 350px;
}
.card{
  background-color: rgba(0,0,0,0.5);
}
