.home_pic{
  min-height: 50vh!important;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(/assets/SI2020_RoadToSI_05.jpg);
  height: 100%;

  /* Center and scale the image nicely */
  background-attachment: local;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.overlay {
  margin-right:auto;
  margin-top: 4%;
  margin-left: 4%;
}
.card{
  min-height: 350px;
  background-color: rgba(0,0,0,0.5);
}
.welcome_text{
  min-height: 50vh!important;
  background-attachment:fixed;
  background-color: #249896;
  background-blend-mode: hard-light;
  background-image: url(/assets/background_solo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
.news{
  min-height: 50vh!important;
  background-attachment:fixed;
  background-image: url(/assets/valorant_agents_grey.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-color: #3cf9f5;
  background-blend-mode: multiply;
}
.news_title{
  color: white;
}
.news_preview{
  height: 3rem;
  overflow: hidden;
  font-size: 1.3em;
  font-weight: 400!important;
}
