<div class='container-fluid p-0'>
  <div class="container-fluid home_pic p-0">
    <!--
    <div class="overlay">
      <div class="h1 align-bottom">Willkommen bei</div>
      <div class="h1 align-bottom">Xperience Gaming</div>
    </div>
    -->
  </div>

  <div class="container d-flex justify-content-center align-items-center welcome_container" >
    <div class="mx-auto p-4 text-light" >
      <h2 class="d-flex justify-content-center pb-3 text-center"><strong  [innerHTML]="staticTitle1"></strong></h2>
      <p  class="d-flex flex-column align-items-center text-justify welcome_text" [innerHTML]="staticText1"></p>
    </div>
  </div>
  <div class="container  text-light">
    <h1 class="pt-3 m-0 text-center">CURRENT TEAMS</h1>
    <div class="row flex-wrap d-flex justify-content-around games_container" >
      <div class="col-10 col-md-6 rainbow py-3">
        <a routerLink="/esport/rainbowsix"><img src="/assets/rainbow_six_main.png"></a>
      </div>
      <div class="col-10 col-md-6 valorant py-3">
        <a routerLink="/esport/valorant"><img src="/assets/Jett_Feature.jpg"></a>
      </div>
    </div>
  </div>

  <div class="news d-flex align-items-center">
    <div class="container py-5 px-0 text-light">
      <div class="container-fluid d-flex pt-3 justify-content-center">
        <h1>LATEST MATCHES</h1>
      </div>
      <div class="container-fluid row d-flex justify-content-around my-3 mx-0">
        <ng-container *ngFor="let match of sortedMatches$ | async ; let i=index">
          <div *ngIf="i<2" class="matchtile m-2 col-12 col-lg-5 p-2 text-center">
            <h3 class="my-2">{{match.title}}</h3>
            <div class="d-flex justify-content-around mt-4 mb-2 row-cols-3">
              <div class="col-4">
                <img class="matchtile_logo" src="/assets/xp_logo_transparent.png">
                <h6 class="">{{match.hometeam.teamName}}</h6>
              </div>
              <div class="col-4 pt-3">
                <h1 class=" m-0">{{match.scoreHome}} - {{match.scoreOpponent}}</h1>
              </div>
              <div class="col-4">
                <img *ngIf="match.opponentLogo == null" class="matchtile_logo" src="/assets/r6logo.png">
                <img *ngIf="match.opponentLogo !=  null" class="matchtile_logo" src="{{match.opponentLogo}}">
                <h6 class="">{{match.opponent}}</h6>
              </div>

              </div>
            <div>
              <h5>{{match.date | date :'dd.MM.yy HH:mm'}}</h5>
            </div>

          </div>

        </ng-container>
      </div>


      <ng-container  *ngFor="let contentobj of newsList$ | async ; let i=index">
        <div *ngIf="contentobj.news && i<2"  class=" news_object container-fluid text-center mt-5">


            <h2 class="m-0 news_title py-4">{{contentobj.title}}</h2>

          <div class="news_preview align-self-center ml-2 font-weight-bolder p-4" [innerHTML]="contentobj.text">

          </div>
          <div  class="py-4 d-flex justify-content-end">
            <div class="btn bg-primary text-dark font-weight-bold text-wrap" routerLink="/news">READ MORE</div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <div>
    <div class="container-fluid d-flex justify-content-center py-3">
      <h1 class="text-light mb-0"><i class="far fa-handshake"></i>  Partner</h1>
    </div>
    <div class="container-fluid row d-flex justify-content-center mx-0">
      <a href="https://gamertransfer.com/" target="_blank" class="mb-3 col-12 col-md-5 d-flex">
        <img class="mx-auto partner_img" src="assets/gamertransfer-logo-transparent-w.png">
      </a>
      <a href="https://www.ammerseedatenrettung.de/" target="_blank" class="mb-3 col-12 col-md-5 d-flex">
        <img class="mx-auto partner_img" src="assets/ammerseedatenrettung.png">
      </a>

    </div>

  </div>
</div>
