<div class="row backgroundimg">
  <div class="container-fluid topspace"></div>
  <div class="container-fluid mx-4 ">
      <div class="row pl-2 py-2">
        <div class="col-4">
          <input class="form-control" type="text" [formControl]="searchFilter" placeholder="Filter member">
        </div>
        <div class="col-4 ">
          <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [formControl]="deletedFilter">
            <label ngbButtonLabel class="btn-success">
              <input ngbButton type="radio" [value]="false"> Members
            </label>
            <label ngbButtonLabel class="btn-danger">
              <input ngbButton type="radio" [value]="true"> Deleted Members
            </label>
          </div>
        </div>
        <div class="col-4 ml-auto">
          <button class="btn btn-outline-light" (click)="createMember()">Create New Member</button>
        </div>

      </div>
      <div class="row">
        <!-- TODO: Header stays fixed https://github.com/rintoj/ngx-virtual-scroller/issues/51 -->
        <div class="table-responsive">
          <table class="table table-borderless text-light">
            <cdk-virtual-scroll-viewport itemSize='5' class="viewport" minBufferPx="1200" maxBufferPx="1500">
              <thead class="thead">
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Rank</th>
                <th>Generelle Info</th>
                <th>TeamspeakID</th>
                <th>Geburtstag</th>
                <th>UplayID</th>
              </tr>
              <!-- TODO: Custom Header with simple and complex info -->
              </thead>

              <tbody>


              <tr *cdkVirtualFor="let memberobj of filteredMemberTable$ | async" class="tablerow">
                <td>{{memberobj.memberId}}</td>
                <td>
                  <button type="button" class="btn btn-outline-light bt n-block" (click)="editMember(memberobj)">
                    {{memberobj.name}}
                  </button>
                </td>
                <td>{{memberobj.rank}}</td>
                <td>{{memberobj.generalInfo}}</td>
                <td>{{memberobj.teamspeakId}}</td>
                <td>{{memberobj.dateOfBirth}}</td>
                <td>{{memberobj.uplayId}}</td>

              </tr>

              </tbody>
            </cdk-virtual-scroll-viewport>
          </table>
        </div>
      </div>
    </div>
</div>

