/* You can add global styles to this file, and also import other style files */

html, body {
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body {
}
body {}

.topspace{
  height: 8em;
}
.backgroundimg {
  min-height: 100vh;
  /* Center and scale the image nicely */
  background-attachment: fixed, scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-info{
  background-color: #24f8f3;
  border-color: #24f8f3;
}
