/* You can add global styles to this file, and also import other style files */

html, body {
}
body { margin: 0; font-family:  code_boldregular, Roboto, "Helvetica Neue", sans-serif; }

html, body {
}
body {
  background-image: url("/assets/webb.png");
  background-blend-mode: color-burn;
  background-color: #0c0d11  ;
}

.topspace{
  height: 8em;
}
.backgroundimg {
  min-height: 94vh;
  /* Center and scale the image nicely */
}

.btn-info{
  background-color: #24f8f3;
  border-color: #24f8f3;
}
.bg-light{
  background-color: #13151b!important;
}

.bg-primary{
  background-color: #00ffff!important;
}

.text-primary{
  color: cyan!important;
}
::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 8px;
  height: 8px;
  background: transparent url('src/assets/transparent.png');
}

::-webkit-scrollbar-thumb
{
  background-color: #000000;
}
