<!--  -->

{{UserForm.value | json}}
<div class="heading"><h3>Neuen Account erstellen:</h3></div>

<div class="form"><form [formGroup]="UserForm">
  <label>
    <div class="label">Username:</div>
    <div class="input"><input type="text" formControlName="username"></div>
  </label>

  <p></p>

  <label>
    <div class="label">e-Mail:</div>
    <div class="input"><input type="text" formControlName="email"></div>
  </label>

  <p></p>

  <label>
    <div class="label">Passwort:</div>
    <div class="input"><input type="text" formControlName="password"></div>
  </label>

  <p></p>

  <label>
    <div class="label">Passwort wiederholen:</div>
    <div class="input"><input type="text" formControlName="password_repeat"></div>
  </label>

</form>
  <p></p>
  <form [formGroup]="UserForm" (click)="erstelleAcc()"></form>
</div>

  <button type="submit"  (click)="zurueck()">zurück</button>
  <button type="submit" formmethod="post" (click)="erstelleAcc()">Erstelle Account</button>

