.backgroundimg{
  background-image: url('https://images.wallpapersden.com/image/download/mozzie-rainbow-six-siege_65092_2560x1440.jpg');
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card{
  background-color: rgba(0,0,0,0.5);
}
