

<div class="bg_pic">
  <div class="row p-5">
      <ng-container  *ngFor="let contentobj of newsList$ | async">
        <div *ngIf="contentobj.news" class="col-4 pt-5 ">
          <div class="card mx-auto" style="width: 18rem;">
            <img class="card-img-top" src="https://ts.xperience-gaming.de/preview/images/logo.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{contentobj.title}}</h5>
              <p class="card-text" [innerHTML]="contentobj.text"></p>
              <a href="#" class="btn btn-info">mehr lesen..</a>
            </div>
          </div>
        </div>

      </ng-container>
  </div>
</div>





