

<div class="bg_pic">
  <div class="row p-5">
      <ng-container  *ngFor="let contentobj of newsList$ | async">
        <div *ngIf="contentobj.news" class="col-4 pt-5 ">
          <div class="card mx-auto" style="width: 18rem;">
            <img class="card-img-top" src="https://ts.xperience-gaming.de/preview/images/logo.png" alt="Card image cap">
            <div class="card-body">
              <h1 class="card-title text-light">{{contentobj.title}}</h1>
              <p class="card-text text-light" [innerHTML]="contentobj.text| first20words"></p>
              <a class="btn btn-info" (click)="open(content)">mehr lesen..</a>
            </div>
          </div>
        </div>

        <ng-template #content let-modal >
          <div class="modal-header">
            <h1 class="modal-title" id="modal-basic-title">{{contentobj.title}}</h1>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>

              <div [innerHTML]="contentobj.text "></div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="closeModal()">Close</button>
          </div>

        </ng-template>


      </ng-container>
  </div>
</div>





