<div class="backgroundimg">
  <div class="container-fluid topspace"></div>
  <div class="d-flex flex-wrap justify-content-center">
      <ng-container  *ngFor="let contentobj of newsList$ | async">
        <div *ngIf="contentobj.news" class="p-2 container">
          <div class="card mx-auto">
            <div class="card-body">
              <h3 class="card-title text-light">{{contentobj.title}}</h3>
              <p class="card-text text-light" [innerHTML]="contentobj.text"></p>
            </div>
          </div>
        </div>

        <ng-template #content let-modal >
          <div class="modal-header">
            <h1 class="modal-title" id="modal-basic-title">{{contentobj.title}}</h1>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>

              <div [innerHTML]="contentobj.text "></div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="closeModal()">Close</button>
          </div>

        </ng-template>

      </ng-container>
  </div>
</div>





