<div class="backgroundimg" [ngClass]="page == '/logo' ? 'logo_bg':'imprint_bg'">
  <div class="container-fluid topspace"></div>

  <div *ngIf="page == '/logo'" class="container d-flex flex-column align-items-center ">
    <div id="logo" class="logocontainer">
      <p>{{logoName}}</p>
    </div>
    <div class="form-group p-3 formcontainer d-flex">
      <input class="form-control m-2 col-6" [(ngModel)]="logoName" type="text">
      <button (click)="downloadLogo()" class="btn btn-primary m-2 col-6">Generiere Bild</button>

    </div>
  </div>

  <div *ngIf="page == '/imprint'" class="imprint container  text-light">
    <h1>IMPRESSUM</h1>
    <p></p>
  </div>

</div>
