.logocontainer{
  position: relative;
  display: inline-block;
  background-image: url(/assets/xp_logo.png);
  width: 500px;
  height: 500px;
  min-width: 500px;
}
.formcontainer{
  width: 500px;
  min-width: 500px;
}
.logocontainer p{
  text-align:center;
  padding-top: 76%;
  bottom: 20px;
  font-family: techno_hideoregular;
  color: white;
  font-size: 60px;
}
.logo_bg{
  background-image: url(/assets/Heaven.png);
}
.imprint{
  background-color: rgba(0,0,0,0.5);
  border-radius: 10px;
  padding: 2rem;
}

.streamercontainer{
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%
}
.twitchIframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
